<%- include('../partials/header.ejs') %>
   
    <div class="table-responsive">
        <table class="table-product-car">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">Foto de Perfil</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido </th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                <%  users.forEach(user => { %>
                <tr>
                    <td scope="row1" style="width: 50%;"><img src="/images/<%= user.image %>" alt=" image"
                            class="img-perfil"></i></a></td>
                    <td class="name"><%= user.name %></td>
                    <td class="surname"><%= user.lastname %></td>
                    <td class="mail"><%= user.email %></td>
                    <td class="acctions">
                        <a href="/detailUser/<%= user.id %>">Ver Detalle</a><br>
                        <a href="/editUser/<%= user.id %>">Editar</a><br>
                        <form action="/deleteUser/<%= user.id %>?_method=DELETE" method="POST">
                            <a href="javascript:{}" onclick="this.closest('form').submit();return false;">Eliminar</a>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>

            
        </table>

    </div>
    <%- include('../partials/footer.ejs') %>